version: '3'

services:
  ros1_bridge:
    image: wdsdrones/wds_ros1_to_ros2_humble_bridge:latest_battery
    volumes:
      - /etc/wds/ros_bridge/:/home/topics
        
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - RCUTILS_COLORIZED_OUTPUT=1
      - ROS_DOMAIN_ID=26
      - ROS_IP=127.0.0.1
      - ROS_MASTER_URI=http://127.0.0.1:11311
      - FASTRTPS_DEFAULT_PROFILES_FILE=/home/fastdds_config.xml
    
    platform: linux/arm64/v8

    command: >
      bash -c "
      source /opt/ros/humble/setup.bash &&
      source /wds_battery_msgs/wds_battery_msgs_ros1/install/setup.bash &&
      source /wds_battery_msgs/wds_battery_msgs_ros2/install/setup.bash &&
      source /ros-humble-ros1-bridge/install/setup.bash &&

      rosparam load /home/topics/config/bridge_topic.yaml &&
      ros2 run ros1_bridge parameter_bridge"

    restart: unless-stopped
    network_mode: "host"
    privileged: true