# /etc/systemd/system/wds_battery_relay.service
[Unit]
Description=WDS Battery Relay Node (ROS1)
After=network.target corvus_roscore.service
Requires=corvus_roscore.service

[Service]
Type=simple
User=root
Environment="ROS_MASTER_URI=http://localhost:11311"
Environment="ROS_IP=127.0.0.1"
WorkingDirectory=/home/root

ExecStart=/bin/bash -c "source /opt/ros/melodic/setup.bash && \
  source /etc/wds/ros_bridge/battery_relay/devel/setup.bash && \
  rosrun battery_relay_ros1 battery_relay_node \
    _input_topic:=/corvus/powermodule/battery \
    _output_topic:=/wds/battery"

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
